body {
  margin: 0;
  background-image: url("../src/stockImages/page-bg.png");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.thermoImage {
  height: 40vh;
  width: 25vw;
  box-shadow: 0px 0px 20px red;
}

.thermoImageParent {
  text-align: center;
   margin-top: 3%;
   margin-bottom: 3%;
}

.HotOrNotTitleParent{
  width: 60vw;
  height: auto;
  margin: auto;

}

.HotOrNotTitle {
  width: 100%;
  height: 100%;
}

.VotingOptionsContainer{
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 5%;
  width: 100vw;
  height: 20vh;
}

.votingOption{
  width: 100%;
  height: 100%;
}

@media screen and (max-width:800px) {

  .thermoImage{
    width: auto;
  }
  .Voting_Options {
    height: auto;
  }
  
}

